
<div class="container">
    <div class="row">
        <div class="col-7">
            <h1>Welcome to Sails & Material</h1>
        </div>
        <div class="col">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Title</mat-card-title>
                    <mat-card-subtitle>Subtitle</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <mat-form-field>
                        <mat-placeholder>Username</mat-placeholder>
                        <input matInput 
                                [(ngModel)]="user"
                                type="text"
                                required>
                        <span matSuffix>phone</span>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-placeholder>Password</mat-placeholder>
                        <input matInput 
                            [(ngModel)]="password"
                            type="password"
                            required>
                    </mat-form-field>
                </mat-card-content>
            </mat-card>

        </div>
    </div>
</div>