<mat-toolbar>
    <span>Sails + Angular 5 Starter App</span>
</mat-toolbar>

<div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="10px">
    <mat-card>
        <div class="containerX">
            <div fxLayout="row" fxFlex class="coloredContainerX box">
                <div fxFlex.gt-sm="67" fxFlex="33">
                    <h1>Welcome to Sails & Material</h1>
                </div>
                <div fxFlex.gt-sm="33" fxFlex="67">
                    <mat-form-field>
                        <mat-placeholder>Username</mat-placeholder>
                        <input matInput type="text">
                    </mat-form-field>

                    <mat-form-field>
                        <mat-placeholder>Password</mat-placeholder>
                        <input matInput type="password">
                    </mat-form-field>
                </div>
            </div>
        </div>
    </mat-card>
</div>